 <!-- Footer section -->
 <section class="footer" style="margin-top: 8%;">
   
    <br>
    <div class="row">
      <div class="col-md-4">
        <h2> Contact Us </h2>
        <ul>
          <!-- TODO: Add HCZ contact info -->
          <li><i class="fi-xnsuxl-house-solid"></i>
            <p style="display: inline;">Address: 35 East 125th Street New York, NY 10035</p>
          </li>
          <br>
          <li><i class="fi-xnluxl-envelope"></i>
            <p style="display: inline;">Email: hczdevelopment@hcz.org</p>
          </li>
          <br>
          <li><i class="fi-xnsrxl-phone-solid"></i>
            <p style="display: inline;">Phone Number: 212 360 3255</p>
          </li>
          <br>
          <li><i class="fi-xnluxl-globe"></i>
            <p style="display: inline;">Website:</p>
            <a target="_blank" class="social-link" href="https://hcz.org/contact-us/">
              <p class="social-link-text">HCZ</p>
              </a>
            
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h2> About </h2>
        <ul>
          <li><i class="fi-ctluxl-exclamation-mark-rounded"></i></i></i>
            <p style="display: inline;">About Us</p>
          </li>
          <br>
          <li><i class="fi-xnsuxl-user-solid"></i>
            <p style="display: inline;">Privacy</p>
          </li>
          <br>
          <li><i class="fi-cwsuxl-check"></i>
            <p style="display: inline;">Terms and Conditions</p>
          </li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h2>Let's Stay Connected</h2>
        <div>
          <ul id="socials">
            <li> 
              <a target="_blank" class="social-link" href="https://twitter.com/hczorg">
              <i class="fi-snsuxl-twitter"></i>
              <p class="social-link-text">Twitter</p>
             </a>
            </li>
            <li> 
              <a target="_blank" class="social-link" href="https://www.facebook.com/HarlemChildrensZone/">
              <i class="fi-snsuxl-facebook"></i>
              <p class="social-link-text">Facebook</p>
             </a>
            </li>
          <li>  
            <a target="_blank" class="social-link" href="https://www.linkedin.com/company/harlem-children's-zone/">
            <i class="fi-snsuxl-linkedin"></i>
            <p class="social-link-text">Linkedin</p>
           </a>
          </li>
          <li>  
            <a target="_blank" class="social-link" href="https://www.youtube.com/harlemchildrenszone">
            <i class="fi-snsuxl-youtube"></i>
            <p class="social-link-text">Youtube</p>
           </a>
          </li>
          <li>  
            <a target="_blank" class="social-link" href="https://www.instagram.com/harlemchildrenszone">
            <i class="fi-snsuxl-instagram"></i>
            <p class="social-link-text">Instagram</p>
           </a>
          </li>
          </ul>
        </div>
        <br>
      </div>

    </div>
  </section>